* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;

    display: flex;
    justify-content: center;

    background-color: #170607;
}

.container {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #140505;
}

.header .icon-mask {
    display: flex;
    justify-content: center;

    min-height: 7rem;
    width: 10rem;
}

.header span {
    text-align: center;

    font-size: 5rem;
    width: 100%;
    /* filter: invert(58%) sepia(19%) saturate(634%) hue-rotate(358deg) brightness(100%) contrast(89%); */
}

.header .title {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    color: #ba9f65;
}

.navbar {
    grid-area: navbar;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #140505;

    border-top: 3px solid #af966d;
    border-bottom: 3px solid #af966d;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.menu li:hover > ul,
.menu li:focus-within > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__button {
    border: none;

    padding: 1rem;

    font-size: large;

    color: white;
    background-color: #140505;
}

.menu__button:hover,
.menu__button:focus-within {
    color: #ba9f65;
}

.submenu {
    display: flex;
    flex-direction: column;
    transform-origin: top;

    overflow: hidden;

    background-color: #140505;

    min-width: 15rem;
    max-height: 0;
}

.submenu > li > a {
    border: 3px dotted transparent;

    display: block;

    margin: 0.5rem 1rem;
    padding: 0.2rem;

    text-decoration: none;

    color: white;
}

.menu > li:hover > .submenu,
.menu > li:focus-within > .submenu {
    border: 3px solid #af966d;
    /* border-top: 3px solid #af966d; */

    max-height: 20rem;
}

.submenu > li:hover > a,
.submenu > li:focus-within > a {
    box-sizing: border-box;
    border: 3px dotted #ba9f65;
    color: #ba9f65;
}

@media (prefers-reduced-motion: no-preference) {
    .menu > li .menu__button:hover,
    .menu > li .menu__button:focus-within {
        transition: color 0.2s;
    }

    .menu > li:hover > .submenu,
    .menu > li:focus-within > .submenu {
        transition: max-height 0.5s 0.2s, border 0s 0.2s;
    }

    .submenu > li:hover > a,
    .submenu > li:focus-within > a {
        transition: color 0.2s, border 0.2s;
    }
}

.main {
    grid-area: main;

    color: #af966d;

    margin: 3rem 1rem;
    font-size: larger;
    line-height: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    padding: 1rem;
}

.footer p {
    overflow-wrap: break-word;
}

.img__notation sub {
    color: white;
}

@media (min-width: 600px) {
    .container {
        height: 100vh;
        width: 100%;
        max-width: 1024px;

        display: grid;
        grid-template-areas: "header" "navbar" "main" "footer";
        grid-template-rows: auto auto 1fr auto;
    }

    .header {
        grid-area: header;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navbar {
        grid-area: navbar;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .menu li {
        display: block;
    }

    .submenu {
        position: absolute;

        display: flex;
        flex-direction: column;
        max-height: 0;
        transform-origin: top;

        overflow: hidden;

        background-color: #140505;
    }

    .menu > li:hover > .submenu,
    .menu > li:focus-within > .submenu {
        border: 3px solid #af966d;

        max-height: 20rem;
    }

    /* .main {
        grid-area: main;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .welcome__message {
        font-size: 2rem;
    }

    .welcome__message p {
        margin: 1rem 0;
    }

    .footer {
        grid-area: footer;
    }
    @media (prefers-reduced-motion: no-preference) {
        .menu > li:hover > .submenu,
        .menu > li:focus-within > .submenu {
            transition: max-height 0.5s 0.2s, border 0s 0.2s;
        }
    }
}
