.main p,img {
    margin: 0.5rem 0;
}

.main img {
    width: 100%;

    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(175, 150, 110, 1);
}

@media (prefers-reduced-motion: no-preference) {
    .main img:hover,
    .main img:focus-within{
        box-shadow: 0px 0px 20px rgba(175, 150, 110, 1);

        transition: box-shadow 0.2s 0.1s;
    }
}

@media (min-width: 600px) {
    .main p,img {
        margin: 0.5rem 0;
    }
}