node_modules/
package-lock.json
.DS_Store
# Below includes dir that I used to have some experiment :)
test
# midterm
work/midterm/public/css/style-backup.css
work/midterm/public/content/introduction.html
work/midterm/public/content/news.html
work/midterm/public/content/newsletter.html
# Prettier
.prettierrc
work/adaptive-js/.prettierrc.js
# Ignore react playground
work/react-test