body {
    font-family: sans-serif;

    padding: 0;
    margin: 0;

    background-color: skyblue;

    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    /* grid-template-areas: "header" "main" "" "footer"; */
}

.header {
    display: flex;
    align-items: center;

}

.header__logo {
    margin: 0 0.5rem;

    height: fit-content;
}

.header__title {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;

    gap: 0.5rem;
    height: fit-content;

    padding: 1rem;

    background-color: lightblue;
}

.main__title {
    grid-column: span 12;

    text-align: center;
}

.card {
    grid-column: span calc(12 / 3);

    border: 1px solid blue;
    border-radius: 1rem;

    padding: 0.5rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    background-color: white;
}

.card .card__title {
    text-align: center;
}

.card__more {
    display: inline-block;

    /* border: 1px solid black; */
    border-radius: 1rem;

    padding: 0.5rem;

    width: fit-content;

    justify-self: center;

    background-color: greenyellow;

    text-decoration: none;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    margin: 0;
    padding: 0;
}

.footer__item {
    grid-column: span 4;

    list-style: none;

    padding: 0;
    margin: 0.5rem;
}
