.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--font-color);

    padding: 1rem;
}

.footer ul {
    display: flex;
    flex-direction: row;
}

a {
    color: var(--highlight-color);
    cursor: pointer;

    text-decoration: underline transparent;
}

a:hover,
a:focus-within {
    color: var(--font-color);
    text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
    a {
        transition: text-decoration 0.25s, color 0.25s;
    }
}