.required__mark {
    color: red;
}

.form__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    margin: 1rem;
}

.form__body label {
    color: var(--font-color);

    font-size: large;

    margin: 0.5rem;
}

.form__body input,
.form__body select {
    display: block;
    width: 100%;


    box-sizing: border-box;
    margin-top: 0.25rem;
    padding: 0.5rem;

    border: 2px solid var(--highlight-color);
    border-radius: 1rem;

    text-align: center;

    background-color: transparent;

    color: var(--font-color);
}

.form__body input[type='checkbox']{
    display: inline-block;
    width: fit-content;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.form__body button {
    padding: 0.5rem 2rem;

    margin-block-start: auto;
    margin-block-end: auto;

    width: max-content;

    align-self: center;

    background-color: var(--highlight-color);

    border: 2px solid var(--highlight-color);
    border-radius: 1rem;

    font-weight: bold;
    color: var(--font-color);
}

.form__body button:hover,
.form__body button:focus-within {
    color: black;
    cursor: pointer;
}

.error {
    border: 2px solid red !important;
}

@media (prefers-reduced-motion: no-preference) {
    .form__body button {
        transition: color 0.25s;
    }
}