.privacy__main {
    margin: 1rem;

    word-break: break-all;
}

.privacy__main a {
    color: var(--font-color);
}

.privacy__main a:hover,
.privacy__main a:focus-within {
    color: var(--highlight-color);
}



.privacy__main p, .privacy__main li {
    text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
    .privacy__main a {

        transition: text-decoration 0.25s, color 0.25s;
    }
}