* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.app {
    text-align: center;

    background-color: var(--background-color);

    min-height: 100vh;

    --background-color: #170606;
    --hightlight-color: #ba9f65;
    --unfocus-color: white;
    --font-color: white;
}

h1 {
    color: var(--font-color);
    padding: 1rem;
}

.tab__title__list {
    list-style: none;

    display: grid;
    grid-template-areas: '1fr 1fr 1fr 1fr';
}

.tab__title {
    background-color: transparent;

    padding: 2rem;

    width: 100%;
    height: 100%;

    background-color: var(--background-color);

    font-size: x-large;
    color: var(--font-color);

    border: 2px solid var(--unfocus-color);
    border-radius: 1rem 1rem 0 0;
}

.tab__title.active {
    background-color: var(--hightlight-color);

    border-bottom: none;

    position: relative;
    bottom: -4px;
}

.tab__content {
    background-color: var(--hightlight-color);

    border: 2px solid var(--unfocus-color);
    padding: 1rem;

    color: var(--font-color);
    font-size: large;
}
