* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --highlight-color: #ba9f65;
  --background-color: #201a1a;
  --font-color: white;
}

.app {
  text-align: center;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto auto auto 1fr auto;

  background-color: var(--background-color);
  color: var(--font-color);
}


@media (prefers-reduced-motion: no-preference) {

}
