#homepage {
  background-color: pink;
  /* Gridlayout */
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 4fr;
}

header {
  /* Color Stuff */
  background-color: plum;

  grid-area: header;
}

header .menubar .menu {
  /* Text Layout Stuff */
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* List Style */
  list-style: none;

  /* Container Layout */
  /* Make hover to select to full height of menubar */
  padding: 0;
  margin: 0;
}

header .menubar .menu li {
  padding: 20px;
}

header .menubar .menu li:hover {
  background-color: rebeccapurple;
}

nav.local-menu {
  /* Flexbox */
  grid-area: nav;

  /* Border */
  border-right: 2px solid black;
}

nav.local-menu ul {
  list-style: none;
  padding: 20px 0 20px 20px;
}

nav.local-menu ul li {
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;
}

nav.local-menu ul li:hover {
  background-color: plum;
  margin: 0 0 15px 0;
}

main {
  grid-area: main;
  padding: 15px;
}

footer {
  /* Color Stuff */
  background-color: plum;
  /* Container Layout */
  padding: 15px;
  /* Flexbox */
  grid-area: footer;
}
