* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  margin: 1rem;
}

.global_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 1rem 0;

  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.gallery img {
  vertical-align: bottom;
}





.caption {
  display: block;
  text-align: center;

  background-color: #fff;
}

.main .wrapper.darken {
  background-color: black;
}

.main .darken img,
.main .darken .caption {
  opacity: 0;

  /* background-color: black; */
}

.footer {
  text-align: center;
  margin: 1rem 0;
}

@media (min-width: 400px) {
  body {
    min-height: 100vh;
    max-width: 100vw;

    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
    grid-template-rows: auto 1fr auto;
  }

  .header {
    grid-area: header;
  }

  .global_nav ul {
    grid-area: nav;

    display: block;

    margin: 0.5rem;
  }

  .global_nav ul li {
    margin: 0.5rem 0;
  }

  .global_nav a {
    display: block;
  }

  .main {
    grid-area: main;

    /* display: block; */
  }

  .gallery .wrapper.focus {
    position: absolute;
    top: 50%;
    left: 50%;
  
    border: 2px solid black;
  
    transform: scale(200%);
  
  }

  .footer {
    grid-area: footer;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .gallery .wrapper img,
  .gallery .wrapper .caption {
    transition: opacity 0.5s, background-color 0.5s;
    /* transition: opacity 0.5s,background-color 0.5s; */
  }
}
