* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    font-size: 1rem;
}

.info {
    border: 1px solid black;

    margin-top: 1rem;
    padding: 0.5rem;
}

.info__label {
    position: relative;
    top: -1rem;
    left: 0.7rem;

    background-color: #fff;
}

.info__description,
.info__report {
    margin: 1rem 0;
}

.add-form {
    margin: 1rem;
}

.label {
    display: flex;
    flex-direction: row;

    margin: 0.5rem 0;
}

.label__input {
    width: 100%;
}

.add-form__submit {
    display: block;
    width: 100%;
}

@media (min-width: 600px) {
    .main-content {
        display: grid;
        grid-template-areas: "info add-form";
    }

    .main-header {
        font-size: xx-large;
    }
}
