.gg-menu-boxed {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid;
}

.gg-menu-boxed::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top: 2px;
    left: 2px;
    box-shadow: 0 4px 0, 0 8px 0;
}

/* Customized Part */
.gg-menu-boxed {
    display: inline-block;
}

.gg-menu-boxed:hover,
.gg-menu-boxed:focus-within {
    text-decoration: underline;
}

/* Ref: https://css.gg/menu-boxed */